h1 {
    color: #111111;
    font-family: 'Roboto', sans-serif;

}

.name{
    margin-top: 20px;
}

text {
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    margin-top: 10%;
}

.text-area{
    margin-top: 20px;
    color: #111111;
}
.social-media {
    padding:40px 0;
}

.social-media{
    padding: 40px 0;
    margin-bottom: 40px;
}

.social-media .icono{
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    color:white;
    text-align: center;
    background:#111111;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    border-radius: 100px;
    
}

.icons-contact{
    margin-top: 20px;
}

.colfoto .foto{
    text-align: center;
}

.colfoto .foto img{
    width: 250px;
    height: 250px;
}

.colfoto{
    margin-top: 20px;
}

.container{

   
}

.contenedor-principal{
    
}