h1 {
    color: #111111;
    font-family: 'Roboto', sans-serif;

}
.portafolio .galeria .contenedor-imagen{
    margin-bottom: 20px;
    max-height: 180px;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a{
    background:#111111;
    display: inline-block;
}

.portafolio .galeria .contenedor-imagen:hover img{
    opacity: .8;
}

