.progressforstyle{
    width:55%;
}

.progresscol{
    height:30px;
    
}

h1 {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.skillscontainer{
    margin-top: 20px;
}
.skill-icon{
   height: 60px;
   font-size: 50px;
}

.filas{
    margin-bottom:-18px;
}

